<div *ngFor="let e of events">
  <div class="row wrap-feature-22">
    <!-- Column -->
    <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
      <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
    </div>
    <!-- Column -->
    <div class="col-lg-6 no-trans">
      <div class="text-box">
        <small class="text-info font-medium">{{e.dateDebut}} - {{e.dateFin}}</small>
        <h3 class="font-light">
          {{e.nom}}
        </h3>
        <p>
        {{e.description}}
        </p>
        <p style="font-weight: bold;">
          location : <small class="text-info font-medium">{{e.lieu}}</small>
        </p>
        <p style="font-weight: bold;">
          location : <small class="text-info font-medium">{{e.organisateur}}</small>
        </p>

        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          routerLink="#"
        >
          <span
            >Apply
            <i class="ti-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
    <!-- Column -->
  </div>
  <br><br><br>
</div>
