<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/elearning.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Our chapitre for this cours</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <ul class="list-unstyled">
      <li class="media">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Chapitre : {{ chapitre.name }}</h5>
          <span
            [ngClass]="{
              'badge badge-danger': !chapitre.completed,
              'badge badge-success': chapitre.completed
            }"
          >
            {{ chapitre.completed ? "Completed" : "Not Completed" }}
          </span>
          <h6>À propos de ce chapitre :</h6>
          <p>{{ chapitre.description }}</p>
        </div>
      </li>
    </ul>

    <div class="media">
      <div class="media-body">
        <h5>Ressource</h5>
        <p>
          I’m gon’ put her in a coma. You give a hundred reasons why, and you
          say you're really gonna try. So I sat quietly, agreed politely.
          Suiting up for my crowning battle. And on my 18th Birthday we got
          matching tattoos. So très chic, yeah, she's a classic. I am ready for
          the road less traveled. I'm walking on air (tonight). But down to
          earth. You're original, cannot be replaced. But in another life I
          would be your girl. We drove to Cali and got drunk on the beach. We
          can dance, until we die, you and I, will be young forever. Saw you
          downtown singing the Blues.
        </p>
                <h5 class="align-self-start mr-3">Durée : {{ chapitre.duree }}</h5>

      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
