<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/elearning.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Our Cours</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">For each student, each class. Real results.</h2>
        <h6 class="subtitle">
          We are a non-profit organization with a mission to provide free,
          quality education for everyone, everywhere.
        </h6>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <h6 class="text-right mr-4 mb-0">Showing {{ cours.length }} Results</h6>

  <div class="container">
    <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">
      Ajouter +
    </button>

    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Default form subscription -->
        <form #myForm="ngForm" class="text-center border border-light p-5">
          <p class="h4 mb-4">Ajouter specialité</p>

          <!-- Name -->
          <input
            class="form-control"
            type="text"
            name="name"
            class="form-control mb-4"
            [(ngModel)]="courss.name"
            #name="ngModel"
            required
            min="1"
            placeholder="Name"
          />
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors?.['required']">name is required</div>
            <div *ngIf="name.errors?.['minlength']">
              name must have at least 3 characters
            </div>
          </div>
          <!-- Email -->
          <input
            class="form-control"
            type="text"
            name="description"
            class="form-control mb-4"
            [(ngModel)]="courss.description"
            #description="ngModel"
            required
            min="1"
            placeholder="Description"
          />
          <div
            class="alert alert-danger"
            *ngIf="description.touched && description.invalid"
          >
            <div *ngIf="description.errors?.['required']">
              description is required
            </div>
            <div *ngIf="description.errors?.['minlength']">
              description must have at least 3 characters
            </div>
          </div>
          <h6>Choose niveau</h6>

          <select
            class="browser-default custom-select"
            name="niveau"
            #niveau="ngModel"
            [(ngModel)]="courss.niveau"
            required
          >
            <option value="Debutant">Debutant</option>
            <option value="Intermediaire">Intermediaire</option>
            <option value="Avancee">Avancee</option>
          </select>
          <br /><br />

          <h6>Choose your specialite</h6>
          <select
            class="browser-default custom-select"
            [(ngModel)]="selectedSpecialiteId"
            name="id"
          >
            >
            <option *ngFor="let item of specilaiteItems" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </form>
        <!-- Default form subscription -->
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-outline-primary"
          (click)="addscours()"
        >
          Ajouter
        </button>
      </div>
    </ng-template>
    <br /><br /><br />

    <div class="card-deck">
      <div
        class="card border-info mb-3"
        style="max-width: 18rem"
        *ngFor="let item of cours"
      >
        <div class="card-header bg-transparent border-info">
          <h5 class="card-title" routerLink="/chapitre/{{ item.id }}">
            Cours name : {{ item.name }}
          </h5>
        </div>
        <div class="card-body text-info">
          <p class="card-text">Description :{{ item.description }}</p>
          <p class="card-text">Niveau : {{ item.niveau }}</p>
          <p class="card-text">Specialite : {{ item.specialite.name }}</p>
        </div>
        <button class="btn btn-danger" (click)="deleteCours(item.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
